html, body, #pageWrapper{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 80%;
	width: 100%;
    height: 100%;
    color: white;
}
body{
	margin: 0px;
	padding-top: 0px;
}
div{
	margin: 0px;
}
#topContainer{
	min-height: 700px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-image: url("../images/rec_mty_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	display: block;
	bottom: 0px;
}
#social{
	width: 870px;
	padding: 0px;
	margin: 0px auto 0px auto;
	text-align: center;
}
#social li{
	display: inline;
	margin: 20px;
}
#mainLogo{
	margin: 60px;
}
#topDividerWrapper{
	top: 0px;
/*	width: 100%;*/
	background-color: #ED1C24;
	margin: 0px;
	padding: 20px;
	display: block;
}
#navList{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navList li{
	float: left;
}
a.nav {
    display: block;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 200%;
}
/*li a:hover {
    background-color: #111;
}*/
#secondContainer{
	min-height: 640px;
	padding-top: 80px;
	padding-bottom: 0px;
	background-image: url("../images/rec_posada_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	text-align: center;
	display: block;
}
#secondContainerTable{
	width: 870px;
	padding: 0px;
	margin: 0px auto 0px auto;
	text-align: left;
}
#thirdContainer{
	color: black;
	text-align: center;
	padding-top: 50px;
}
#workList{
	list-style-type: none;
}
#workList li{
	padding: 1px;
}
#fourthContainer{
	height:100px;
	text-align: center;
	background-image: url("../images/rec_france.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 20px;
	color: red;
}
#fifthContainer{
	background-color: #ED1C24;
	text-align: center;
	padding: 100px;
}
#videoWrapper{
	position: relative;
	padding-bottom: 53.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
#videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#sixthContainer{
	height: 200px;
	background-color: #262627;
	padding: 40px;
}
#footer {
	height:	100px;
	background-color: #1f2125;
	padding: 10px;
}
